.monitor {
    display: flex;
    height: 100vh;
    position: relative;
}

.bezel {
    background: url(../assets/bezel1920.png) center $backgroundColour1;
    width: 1920px;
    height: 1080px;
    position: absolute;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 78px 1fr 76px;
    grid-template-rows: 80px 1fr 9fr 85px;
}