html {
    background-color: $backgroundColour2;
}

.monitor {
    display: flex;
    position: relative;
    justify-content: center;
    height: auto;
    width: 100vw;
}

.bezel {
    background: url(../assets/bezel1366.png) center $backgroundColour1;
    width: 1366px;
    height: 766px;
    position: absolute;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 55px 1fr 53.85px;
    grid-template-rows: 57.5px 1fr 9fr 85px;
}