html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

html {
    background: linear-gradient(120deg, rgba(255,241,208,1) 0%, rgba(0,128,128,1) 50%, rgba(28,0,176,1) 100%);
}

body {
    overflow-x: hidden;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

li {
    &.navItem {
        width: 212px;
        height: 70px;
    }
}

a, a::after {
    text-decoration: none;
    color: $solidBlack;
}

.viewPortWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.bezel {
    background: url(../assets/bezel1366.png) center $backgroundColour1;
    width: 1366px;
    height: 766px;
    position: absolute;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 55px 1fr 53.85px;
    grid-template-rows: 57.25px 1fr 9fr 57.25px;
}

main {
    position: absolute;
    top: 130px;
    left: 55px;
    width: 1256px;
    height: 579px;
}