header {
    grid-area: 2 / 2 / 3 / 3;
}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: $primary;
    border-radius: 0 2px 0 0;
    
}



.myName {
    padding: 1%;
    margin-right: 10px;
}

nav {
    display: flex;
    width: 50%;
    align-items: center;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
