header {
    grid-area: 2 / 2 / 3 / 3;
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1767px;
    justify-content: center;
    background-color: $primary;
    border-radius: 0 2px 0 0;
    position: relative;
    padding: 0 20%;
    border-bottom: 2px solid $solidBlack;

}

.myName {
    padding: 1%;
    margin-right: 10px;
}

nav {
    display: flex;
    width: 50vw;
    align-items: center;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
