$headingFont: 'Karla';
$bodyFont: 'Inconsolata';

// sequence tertiary, quaternary, quinary, senary, septenary, octonary, nonary, and denary

$backgroundColour1: #008080;
$backgroundColour2: #1c00b0;
$primary:#c0c0c0;
$secondary: #090382;
$tertiary: #3686d2;
$quaternary: #fef9a1;
$solidWhite: #fff;
$solidBlack: #000;